@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@500;700&display=swap');

.fullscreen-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  padding-top: 150px;

}

.login-container {
    position: relative;    
    font-family: 'Orbitron', sans-serif;
    font-size: 23px;
    color: white;
    
  }

  button {
    margin-top: 5rem;
    animation: pulse 2s infinite;
    padding: 2rem;         
    font-size: 1.2rem;  
    font-family: 'Orbitron', sans-serif;       
    border-radius: 1rem;        
    min-width: 300px;           
    min-height: 20px;           
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes pulse {
    0% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.5); }
    70% { box-shadow: 0 0 0 15px rgba(255, 255, 255, 0); }
    100% { box-shadow: 0 0 0 0 rgba(255, 255, 255, 0); }
  }
  .tagline{
    font-size: 1.2rem;
    color: #ccc;
    animation: fadeIn 2s ease-in-out;
    margin-top: 0rem; 
  }

  h1 {
    animation: fadeIn 2s ease-out forwards;
    margin-bottom: 0.5rem; 
  }
  
  .google-button {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px 20px;
    background-color: #e6efff; 
    border: none;
    border-radius: 20px;
    font-size: 18px;
    font-family: 'Segoe UI', Roboto, sans-serif;
    font-weight: 500;
    color: #1a237e; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
    cursor: pointer;
    transition: background 0.2s ease-in-out;
  }
  
  .google-button:hover {
    background-color: #dbeaff;
  }
  
  .google-logo {
    width: 28px;
    height: 28px;
  }
  
  
  .login-text {
    font-size: 16px;
    font-weight: 500;
  }
  